@model IEnumerable<Wedding_management_project.Models.QLDichVu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dịch vụ</a>
            </li>
        </ol>

        <!-- DataTables food -->
        <div class="card mb-3">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-sm-6 mb-3">

                        <div class="card text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                </div>
                                <div class="media">
                                    <img class="ml-3 imgFixSize" src="https://www.marry.vn/wp-content/uploads/users/362702/2017/01/05/trung-tam-hoi-nghi-va-tiec-cuoi-seasons-4.jpg"
                                         alt="..." style="
                      width: 200px;
                      height: 128px;
                  ">
                                </div>
                                <div class="mr-5">@Html.DisplayNameFor(model => model.MADV): @Html.DisplayFor(modelItem => item.MADV)</div>
                                <div class="mr-5">@Html.DisplayNameFor(model => model.TenDV): @Html.DisplayFor(modelItem => item.TenDV)</div>
                                <div class="mr-5">@Html.DisplayNameFor(model => model.MoTa): @Html.DisplayFor(modelItem => item.MoTa)</div>
                                <div class="mr-5">@Html.DisplayNameFor(model => model.DonGia): @Html.DisplayFor(modelItem => item.DonGia)</div>
                            </div>
                            <div class="card-footer text-white clearfix small z-1" href="#">
                                <a class="float-left" @Html.ActionLink("Sửa", "Edit", new { madv = item.MADV }, new { @style = "color:White;" })
                                <a class="float-right" @Html.ActionLink("Xóa", "Delete", new { madv = item.MADV },new { @style = "color:White;" })
                            </div>
                        </div>

                    </div>
                    }
                </div>
            <div class="card-header">
                <button type="button" class="btn btn-warning" onclick="">@Html.ActionLink("Thêm dịch vụ", "Create")</button>
            </div>
        </div>
    </div>
</div>
