@model IEnumerable<Wedding_management_project.Models.QLThucUong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<!-- Breadcrumbs đồ uống-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="thucdon.html">Thực đơn</a>
    </li>
    <li class="breadcrumb-item">
        <a href="thucdon.html">Đồ uống</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="thucdon-bia.html">Bia</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="thucdon-ruou.html">Rượu</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="thucdon-nuocngot.html">Nước ngọt</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="thucdon-nuocsuoi.html">Nước suối</a>
    </li>
</ol>
<!-- DataTables drink -->
<div class="card mb-3">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                        </div>
                        <div class="media">
                            <img class="ml-3 imgFixSize"
                                 src="09R/iAX/ADyNi0sIhKDAowgBZYA2SEKFYA2WEhlIAmrgCZJAr6uBwVSSwcrWSGalkoOUrAZrgMViA1UsIOVLAZRYB1gGWA6KcBTkHJHwAPB5+BPynN9SbTMa06MfiYQ6juOPjnE87+Ly1nXu/wAp+nWfhTbyQ47uOcqfz+BkZOVa06nr/SIxxHcBtYCCCFIxjBVSPlOX6sr+2E118exwRztydre7B+z5Trwcm3xLK9IXruUgHPXx4Pn7561LRasTHyxnoQSwnECCIC+t+zgd5UfX6SJSJqxwo8Bj5SsyQv2rXvruUf3kV19zLyPwEr8LSS0FwetW+I+Rx9JpHhUeBBhKhgUYQBssAZEAbQBPApAoQJApgSNjg6lmgarWEGaxJJMIYQYrgN1CA5UsBusQDpAMkA6QI0djAupJYDPUjgEHbzjPgJjNdW21w9zoa+zJ4IUf4mzPOzYo925iIa71Og1YnALDHw6ffMr0rFInzBEzssxIdl64xzjuPQznr3aYikdLWjrezFFhz0OB34T/AHnTjjU/EMrzqEVAMfM+4YySPxnq4t+3th5PATQYRAgwOR9NNTllQMR6tS+QSp9Y/s1gEdDjd85lee4iG2OsTHbxHt/0s1g1Wo2aq8L6ywACxiBg49kE8DjumkViY7Zz1PT0XsTV6m2vSWtbYw9Qps3O535ABXAI5I9ZyfcR0nNbq06dFa1mu5P/AKIde3qtRpbGLNTYxBJJ6H1brk8nBRT/ANwToj8M8up7jw9BMlmqYFTAqYA2gDaAF4AmgDaAPMgZmBwtZl0GUkg6QGEhBqoQHKhAbqkhlDCB0hI9cIHSQB2sVcNzhtoPkw/P7pjlmY1MNsP8ybFOBxxwM+8cTi5Pu8fDa+otKinoJw++a1msp1udmVrXDdM4B64zjGM+7k/OejixVtijXlha0+4nYLGGCdgPUJlmYd+W+gmdeJa3806/sib7Z6/YtjIjMUUlVCkscAkAKepnZefZSfb8Mcm61mY8uZt9ItXklEcqAx5qOfZbBA29fd4ieXPJ5P4/Z5ls/Iieq9NjV2xaB7ZsBDFea1VCRt6FjyPa69+D4TKeVy4+P2aRmzTHVZ/w6ikkqpIwSBkeBxzPbxWtakWt5ehTc1jbyH0y7bAsNmeH1aJnIACVEYJ93sN85nH3Wl1RPtr28atsLEsepJJ+JOTOmHNL2r0bvA7PReMilfInT24Gf+7mc1/MunHPhqfRntmvS9r3s7IlbnczE8KuorVycj98UZ85vWs2mNMrTHb0g+muiPCXVP8ADUaRf/O1TOiONefMMvfC7elmlAy1taj36nRH8LpP8Ll+I/ZHvg52Z21ptRn1F1VhHLBXVivxAMrl4+THG7VmExes9QcMwXUaAJhAE0ALmAB2gDJkDN8Dg6WmqpysyAeuA1UIDdUkOVCA3XAOkIMJAYSAdJAy+sEc9PvHBmeSN1XpOrRIa3HBA55J+GQG/wA0pERLfPHcSvRXkgkeQx1nH/DRa+58KfU1U0XAPTHd458521iK9Qzmdg3XVrjJVfiduR58S0zEKqUVq4boVYEHwIIxIjtYvpqjjhiPsjop6KoHLZPd4ytYj4TLVel1R9TXn2v11CklVBAdwpwQMj/WLVifKaW14dIV2phRjauFHcMD2fwE0+FHy16SdqGw+r70e0tgggksQMEdePxlMdPbMy3zWrOoq0M1c7c6bt68V+pVmwfVgAAHgIybcd+dwkTWJWi0wtpLm1F4bOHCVAHIyWqrRAw8T7G6d/AmkZJ90/Dnz2mtdxAj9mXWOSQgJ64CVr5KoAHkJ71MdK+JctuXjrG5dJ2H2RbWMbqsHqPU0sWz/dLkbtv7ucToiuOfP+3nZ/VIiNVh23oR2e39L9czbitTVjCoiVrkbVCIAqjr3Tz/AFS+KON7Ked7/VrwOZkzZoia9aegmfMveDMAbwAvAA8gAeABmgCLwOKpE1QdqEIN1JAcrWA1WIQbqWAwkBhBAYrEBhBAYQSBexMqR4gj7oCfZ7Z48VHHvBIP0mURqXZl7pEtgEx5yYiIcgdlWc7j8MfWNBbUaTftUgEZ6k4IB8MeUreu40sPRWEQ44ABx7uJMV9sI+VaEO0Z78+eOPpIpGoTPavamjFlDBj09pfihB/ECTKax2Jfd+oZ/Ct2646IT17pP9Kcdd3iv6vKy41KvZZXRYo9Zsa3TU32PtG47m27uAVy2erKOSZz++0PpsnF4tZrS9e+t960076dRnd2dpeOD/U7Bg7d2DgjBxziPq2dE+mem637v3Fr09QZQdN2YjM2wJ/RrH9o8BScsAcjB64JAOOcTFrz8vPnjcLc+2tpiPMt7p/YPqq00qbgu4UU6evnAOC6KCSPj3Sl7zrttHD484LZYpMfjbpezNKCpNp2nPA/VngAc/ZPv6fdIrlp82fO2rM9abOrSVY+2Oc54pyvv5X8peuaJnUW/dnOGP8Ax/Yv6PhT68qyvixk3BgxwMEA4J2nkcfCb1iY8widfDamWSG0ATQBPAA0gAsgLvAAZI5GlZoqeqWA1VCDdcBupYDSQGKxCDCCAxWISYQQGEEgFUQNTWNtpHg1gH+LDfQzO0duqs7xTH4bIN45ElzMtzglcnH54gVXHXvGR/tEQsrfcqryQO/k44GP9JW9oiO1qUtbxAV/a1PGbF4UDrn49JX6lfy2ji5Z8VSnaCMhIZiviK7WXHhkLiPdVX6N621Mdtf2dqA9WooZs7VsAP7Vbg7T5ZkUvFomG2XHOO1b6eerrzpiqHcjIcker3b/ANZY+5G9YoKt6zHf9he8cY23t9Fj4scuJvHe/wBf/klr+1q81gEba0O1ilqkWhAqZyX6ZsOefaYnxJiLR4Y39LzViZ13M/p4/YPR3UK6sQAQCc7DhWOQyjwG0nzYsSx6aRMOXJxOXMa+CvpleP6NZYBtW2ypEG0IzAe0X2joD6snn9r3zp4WP35o34hbn8j6PDjBM7t8us9Hu0e0Fo061af1lbafRityoOz+rIXcnHXccAtkHPQBWMtlxYffM2nXb5+trRDruz+0tZYGrv06IrLqAxGzKAINuf1hLZJcZCj7IOBmUrXFFo9kx5hWbzM6287/AEG63jVUH/4rVHzR/wDJPe9bxamt4/GmeKXqbTwWyjQBNAC8ALwF3gL2QAEQOWqE0VN1wg1UIQcqEsG0gHSA0kgMVyAzWISYQQDpIBFEDWa0bbc/9Nvkdp/GVt+XRg73U9xznp1+HEMNJQjoB/qZEQBKeSPhJS5/0lIssqqVwGyq+PLHn6ff4Tkz/daKxL3PTYnHjtkmvTlu0tWVsdUZtqswGSSSASOT5Z85yXnVun0HFwxbFW147kTsztNUyXd8nIOOdiY9ojxc/ZHhknwitteWfK4lrzEUiOv9/wDSvY/bKV2WhyQr12JkHJQnBB954+fnNMFvbbv5c/qnDmcETWPHZQdpV3jCvo9QO4Gza/8ABglT5idFon5h4/Gzxj7x3mJa3X9mP/w9Db8d9jL5HcSfulYrG/D18fqGW0avlj/DTX9larP9hYvwXZ/+mOfvmlaoyczFv7smwO0+x7X9WtmUGCS4Hr+cAKhKHAb3Eg8z0eBE0mZ08b1blYs0Vrj8R2rob7sGlddqfVqECBKbeMhyVI6pjbwOcg93OOu3Ew3t77ViZn9Xh6g/2To0Fm/+ma0su/k6fUDADMuep49iznI5Q5xgzvpSla6jHX9mOXUV/Drf0e+jyUaj19Vlp4sqsV6Xq+2FdNm7qMofLwnn+r+pTNqYbVjU+JiVsMzvp6OZ5bsDaANoAXEADwAOIAHEAJEDlKhNFZOVCEHKhLIN1iAwkBmsQGaxAZrEgM1iQGEhIyyBcQEe005U+IYfl9JE9w1xW9ttiV8gZ+PWRCLxqZEZTjGfwzCjCuOZC0eXkna2u/XWMW53HmeZfc2l+g8HBH0KxEdaa27Wc/7yIp+XpUxdH+wdJ/SX2sxVRguwx7CjksSeABiWisbcPPzzx6brG5nx/cp6QaX1NnH2WAdCQfarJIUnPQnaf5MmI1Jxsn8RhmLeY6n+7yzUrh2HgzfjPSjw/Pc9fbktX8TIQMlkwnMD0/0J9H92mS3G0uG9oscYyfsr0+M8zk+qZMF/bXxDbHxr5O46av0h7M1uld3/AFppJQCzKWhgn9n6wgcEE5BYeHeAZ9T6T6hxOXWKzaIt8x/0xzcfJi7tHT0H0O9DtQUS3WavUAuNy0o4DIG59tmB556AcAkA8mcPqHruGlvp4aROvkpw7ZI3M6h12l9HkpJau3UE4X2bLRap2tuGOAQcg9/fPB5XqNuVak2iIms/C0cOKTuJmWyM9OPyBtJA2EATwAOIAHgAeAEiBzFaTZQ1UkhBytZIZQQGKxAZrEBmsQGq5AYSQDKYSKpgEBkBPtMcKf3vxB/KSmJ1KKSQvvyZRpfuU6vVLVWzseg+JJ93iYZkX7XQ1GxWyApboR3gcj4mVtOo23wY5vkrX8vL9JrQmo9eyK/JIVuVJ6DM8+Lfdt+gTgtfjxiidfq1jYyT4kmR29CsWisQY017gFU3bWxuA6NtOQDjqJGmWXHjvMTfzBXXalnJLklucknPOMAZ8B0xLR5RXFWlNVjUOE7Xo22sPHn5z0KTuH596nh+lyLR+eyMu89dFJIA6nAHvJiZ1G0629/7OrFdddY4VFRQPgAJ8byck3yTaX0eLFFKxEHtELPWNkoayoG3HOedwOeGBBHGJSuSKRE13Ek0m0zE+HSaazJz9Pdj6TSL2tO3NkpFY02m8FQMTqnLE1iNOP2zvZIz6DBb3UrLkvGrTCjTVUNoAmgBeAB4AHgBMDQVJNmZqtYDCLAYRYDKLAZrEBisQGEEBhRIBVkAqwLAwkDtEZTzX8cfWESmqo/6fH+RKTDWZ3BbXaMOMECFGv7T0e3S2KoX7IAwOMBgfM9TM8kfa7ODeK56zLynWVWL9pAPeF4nDEafoeHLjtHUkt/84El19SslpyMkkd4yZDO8V0zVnJ4TaDjCjPPQd/j9YhlWdV7nbkPSMYtI8Bg/HJndi/lfD+t3i3J6/DUTV4za+jGm9ZqqV7twY/BfaP4THkW9uO0tsFfdkh7bpmyB98+RyR2+kp90bhs9EpPI4Hif55mFupRe1a+W80ZCDg5J6n8hNcOSYnpx5Im87kwLsYJJwMHxm0XivcsbU66UpfIJ95/Oe/6dk9+Fwcivtslp3sQ2gCaSAuZAA8ADmALMDVV1zZmYrSAdK4DCJAYrSAzWkBhFgHRYBlEqCKIFwISsBApqB7J8vxEI+AaW6+PHylWk+ITZqNoYt0HP8iIVIDW+uodypXK2HB68AgHj4D5yLeGmKdXiXCa5xOKYfW8e0/DR2WpnoJnMPUrN9GNPYO4CQxyzb5arXX/1gE9A1XyGDL1rttWfbh6+XBdqHNjE+K/gZ208Ph/Ubb5FiMu4nWfo6o3ah3/YrPzZgv4ZnD6hbWLTr4cffMvUax4T5q1o29bHkmstp2bqQBsc46YPgekyn223EtMlq2n3R5bakj9pT8GBEitfbPak2iYEySee7pK2tMyykeg9fKe96NfdbVefy47iVzPchyKNAE0ALwAvAC4gBMgKpVNmZhKoDFdMBiumAzXRAOlMAyVQCrXAIEkAgWQlYLAkLArcvst8D+EDWoRuCnkkZ7+h6ZPTyzK+D4Fv0+QVxx5HPzMhJWvaEsXI3AYPTkFTjGO4eWInwtSfuhyOs0KWJ9khsdxIzx0xPEy5L1v9vcPpseaccxLm7uwkBJL2ADnJK858oryL2tFYjt6kc77dzrRWgU7iiWOzL9ob0wOeAfZ47/fx0nqU4l4iLZOon/LyeX63EzNcURM/n4arR6O3V6wpgpUhrNhGRw2NoLnn2vd3cgTo5kYsOOK0j7pcPG5XI5Nv+S+qx+PlzXpewOru2gBcoABgAAIo+kx4+/pRtxc2nszTDSzZyO7/AEY1/wDqD/0R91h+gnl+qW+2sO7hR3MvSa0xifN33Hl3wZrWZTK0HKEHhKjYVmSrJjT9T8J7vo3V7f2cXLjqBis+gcKjLAGywAskATpACyQBbJAtXp5szNV6eAzXRAYrogHWmAVaoSIK4FxXAkJKidkCwWBm2BS/hGPgrfhA0GktIUb13+HsqCPPPMrpGzHra/8A2h8xCdltfa2z2FCDwyEzyOCQOnnzITXzDRNqitCFD7TEgkAHGO7meRMTEy9fiY/qWtFp6hqdV6yzapavfkbS2ks1ACkfaKoQPNvZAB8cjo4mqzud7Obj3Gsfj57ay6ijf/XNVutqSuphWK9PWQ9hddlSDJc1qXPQA2IM4+z6/vvNftruP1eV7axPcle1PStE1B0tSud1lFbN1Tq5Y1jJ4BbAbklW7tizk5HHt9L6lpd3BzRGetdbec+kqkam0HrkE+7Kg4+IzjykYP5IV9RtFuTeYaqauF6D+jL7F/vav7lb855Hqn9MO/heJelgcDyniZo6ddZFQTjlrBuoSNIN1yYiUSb0Y58p73pNdWn+zi5X8porPecKhWBQpAGyQBFIAmrkgXq4Dddc1ZjpVAYrqgMrXCRFrlQQJAttgSBAkLAnbAzbAwrA1nbmq2KiA4axsA+GOSfuEiZ0fo1r0eFaEe5mpI/h4P3fCRuVdCJV41n/AO+wydmgNeNqkolYPiyhiPhkn8JHa1Y7cm+sT1QRgR1OQMjPvHXHu9/unl3pbzD6TBgms7r8ud7d9JLNpQCyzPcNqKf+bGM/f5Tu42Glpict9R+GWfDlxz/xY5mfy5jQ3WA5NLliWYndUo3Mctj2c4yTxkz0suXBEdX/APUPMp6fyZnun+TJtWu03sga7ChQM7KxjqSeXbuzxPKy5LZY9sT9r3eF6dGH77d2cb2taWtdm6k5Pd3TfHWIrEQ8Hm7+vbZKWcr0D9GZ9i4fvofu/wBJ5Hqn9MvQ4U9S9Nr6CeLk7h1QNXOa0LwbpiIDVc0rVWZPaJeT8J7fpldTMuLkz4N7Z7LjQVgUKQKFIAzXAC1cAZrgPJXNmY6VwGEWVSIFgXAgWhKYFsQJxAnEgZiBEIJdoaP1gHTIORn8+6Sgg9TL1V/4d33iV0nYbH3n+EydIIdprlHxvOAx4RsDjxkWjpri/njbhtccDnuE4bdPrMEe6enNajVKTx+Ez8vZpimI7Vr1Sjr+cj2ypfFM+CnaLBiGXOCPAjOCczXH1DOKTFdSvouy0trYtUXUO+CCgdeF4XOMj/EOe4zTdt7idPmPUK1+r4K2ejujP/E1CH9k02Nj+APn5y0ZLfl584Y/Ddei+j09DEVWWOX253VWoPZzjBdRzzOHnxa2Pc/DbBHtnqHd0NwJ4k+HUarmUwtBuqTEEyZrM0rCktpoE9knx+k+g4OP213+XDntu2jW2du2DCslVUrJFSsCjJAG1cAfq4DaibKCqJCBVkJXEC0CRCVxAtAzMDMyBmYEZgYTArmQKmNpAupzG0xDge3fRS5cmkblySAMEqP2SvUjwxk+6YZKb8PT4vNnH1Phxus7K1K53aZW8nrJ8rFExnE9vH6nSfEs7M7Jsc5epax/yW3MfgEUj5kR9Nnn9T1H2zttX9EDaRuNuP3lSseSjLnzIitNeHDb1PLrXUNtV2CK0CIuFUYAx5k/GaRV5+TLN7bkhrfRvdzjmPZCsZNNUex3rOcdD1mWak2pMQ0rkjbdaO+fP5aWrPcOiLRPhsqrpksartiAzVZOjDX3WhnedQ6iuvAA9w/CfR0j21iIedbudpxLoYRLKq4gVxJFSIA2WBTEBgTRQRYFxAsBCVgYFg0Cd0CcwMzAzMJZmQI3QI3QMzISgmQIJgQZCyhWDYbVCNJ2G1A8JGjah0w8JGjYZ0gPdGjYT9mqe6RpMSUv9Gqn5wVPipwZjkw0v5Wi8wAfRc/3bh8GqB+8ETmtway0jNaBa/Rxu+5R8Kj9XlY4NT61j+h7FrrIb23YdC5yF+CjgTfHx6U7iGdslreWy5nTCjJKEYllUYgQVgVKyRRlgU2wLpNFRAYFg8CwMC+YEAwLAwJzAwGBGYSzMDMyEszIEZgRmNDMyBmYWhEaESBkCMQJ2wJCyBOJGksxGhMaGYjQwCQhOJYQRCqMSRGIEEQKkQK7YH//2Q=="
                                 alt="..." style="
                      width: 200px;
                      height: 128px;
                  ">
                        </div>
                        <div class="mr-5">Món ăn 0</div>
                    </div>
                    <div class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left" onclick="">@Html.ActionLink("Sửa", "Edit", new { id = item.ID })</span>
                        <span class="float-right">Xoá</span>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="card-header">
        <button type="button" class="btn btn-success" onclick="openMenuDrink()">Thêm đồ uống</button>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaTU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGiaTU)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaTU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaTU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaTU)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
