@model IEnumerable<Wedding_management_project.Models.QLNhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables nhân viên -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách nhân viên
    </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MANV)</th>
                            <th>@Html.DisplayNameFor(model => model.TenNV)</th>
                            <th>@Html.DisplayNameFor(model => model.GioiTinh)</th>
                            <th>@Html.DisplayNameFor(model => model.DiaChi)</th>
                            <th>@Html.DisplayNameFor(model => model.SĐT)</th>
                            <th>@Html.DisplayNameFor(model => model.CMND)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>Chức vụ</th>
                            <th>username</th>
                            <th>password</th>
                            <th> </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.MANV)</td>
                                <td>@Html.DisplayFor(modelItem => item.TenNV)</td>
                                <td>@Html.DisplayFor(modelItem => item.GioiTinh)</td>
                                <td>@Html.DisplayFor(modelItem => item.DiaChi)</td>
                                <td>@Html.DisplayFor(modelItem => item.SĐT)</td>
                                <td>@Html.DisplayFor(modelItem => item.CMND)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>giám đốc</td>
                                <td>user1</td>
                                <td>********</td>
                                <td>
                                    <button type="button" class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { manv = item.MANV }, new { @style = "color:White;" }) </button>
                                    <button type="button" class="btn btn-success">@Html.ActionLink("Xóa", "Delete", new { manv = item.MANV }, new { @style = "color:White;" })</button>
                                    
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    <div class="card-footer small text-muted"> <button type="button" class="btn btn-warning">@Html.ActionLink("Thêm nhân viên", "Create")</button></div>
</div>
<p class="small text-center text-muted my-5">
    <em>More table examples coming soon...</em>
</p>
