@model IEnumerable<Wedding_management_project.Models.QLPhieuTheoDoiTiec>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAPTDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiPhiPS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MAPTDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaSDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChiPhiPS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
